.answers-list {
    margin-bottom: 40px;
}

.answers-box {
    display: flex;
    align-items: center;
}

.answers-name {
    flex: 1;
    font-weight: bold;
}

.answers-input {
    flex: 3;
}

.task-description {
    margin-bottom: 30px;
    white-space: pre-line;
}
