textarea {
    resize: none;
    width: 100%;
    height: 300px;
}

.criterionInputBox {
    display: flex;
}

.criterionName {
    flex: 1;
}

.criterionFileInput {
    flex: 4;
}

.criterion-select-label {
    flex: 1;
}

.criterion-select-input {
    flex: 1;
    width: 100%;
}

.criterion-select {
    display: flex;
    width: 50%;
    margin-bottom: 10px;
}
